@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Dedale';
    font-weight: 600;
    src: url('(site)/fonts/DedaleTrial-Bold.otf');
}
@font-face{
    font-family: 'Dedale';
    font-weight: 400;
    src: url('(site)/fonts/DedaleTrial-Regular.otf');
}
@font-face{
    font-family: 'Dedale';
    font-weight: 300;
    src: url('(site)/fonts/DedaleTrial-Light.otf');
}

:root{
    --mainColor: red;
    --primary-type: 'Dedale';
    --pad: 0.7rem;
}

html{
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
    font-family: var(--primary-type);
}

p{
    line-height: 1.4;
}

#nav{
    border-bottom: 1px solid var(--mainColor);
    color: var(--mainColor);
    animation: loadNav 800ms linear;
    overflow:hidden;
}

#nav li{
    animation: loadNavItems 1s linear both;
    white-space: nowrap;
    text-transform:uppercase;
    letter-spacing:-0.02em;
    position: relative;
}

/* INCLUDE FOR RIGHT BAR NEXT TO NAV ITEMS */
/* #nav li:after{
    content: '';
    display: block;
    position: absolute;
    right: -1em;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid red;
    height: 2.5rem;
} */

#nav li:first-child{
    animation-delay: 0.2s;
}
#nav li:nth-child(2){
    animation-delay: 0.4s;
}
#nav li:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes loadNav{
    0%{ width:0px; }
    100%{ width: 100%; }
}

@keyframes loadNavItems{
    0%{ opacity:0;}
    100%{ opacity:1; }
}


/* ABOUT PAGE */

.cols {
    display: flex;
}

.information .box {
    border: 1px solid red;
    font-family: var(--primary-type);
    font-weight: 400;
    padding: 0.5rem var(--pad);
    margin-top: -1px;
    margin-left: -1px;
}

.box.half{
    width: calc(50% + 1px);
}

.box.two-thirds{
    width: 66.6667%;
}

.box.one-third{
    width: 33.33334%;
}

.information strong {
    color: var(--mainColor)
}

.information a:hover{
    color: var(--mainColor);
}