@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Dedale';
    font-weight: 600;
    src: url('(site)/fonts/DedaleTrial-Bold.otf');
}
@font-face{
    font-family: 'Dedale';
    font-weight: 400;
    src: url('(site)/fonts/DedaleTrial-Regular.otf');
}
@font-face{
    font-family: 'Dedale';
    font-weight: 300;
    src: url('(site)/fonts/DedaleTrial-Light.otf');
}

:root{
    --mainColor: red;
    --primary-type: 'Dedale';
    --pad: 0.7rem;
    --bg: #F8F8F8;
    --transition: 600ms;
    --navHeight: 38.5px;
}

html{
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
    font-family: var(--primary-type);
}

body{
    background: var(--bg);
}

p{
    line-height: 1.4;
}

#nav{
    border-bottom: 1px solid var(--mainColor);
    color: var(--mainColor);
    animation: loadNav 800ms linear;
    overflow:hidden;
    position: sticky;
    top:0;
    width: 100%;
    background: var(--bg);
}

#nav li, #nav button{
    animation: loadNavItems 1s linear both;
    white-space: nowrap;
    text-transform:uppercase;
    letter-spacing:-0.02em;
    position: relative;
}

/* INCLUDE FOR RIGHT BAR NEXT TO NAV ITEMS */
#nav li:after{
    content: '';
    display: block;
    position: absolute;
    right: -1em;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid red;
    height: 2.5rem;
}

#nav li:first-child{
    animation-delay: 0.2s;
}
#nav li:nth-child(2){
    animation-delay: 0.4s;
}
#nav li:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes loadNav{
    0%{ width:0px; }
    100%{ width: 100%; }
}

@keyframes loadNavItems{
    0%{ opacity:0;}
    100%{ opacity:1; }
}

/* LANDING PAGE / DRAWING */


/* CURSOR */

#cursor {
    border-radius: 50%;
    border: 1px solid var(--mainColor);
    width: 150px;
    height: 150px;
    position: fixed;
    top: -50vh;
    left: -50vw;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 10;
}

#cursor:before, #cursor:after {
    content: '';
    width: 14px;
    height: 1px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
#cursor:after {
    height: 14px;
    width: 1px;
}

#cursorPrompt {
    color: var(--mainColor);
    position:absolute;
    bottom: 0px;
    text-transform: uppercase;
    animation: blink 1800ms linear infinite;
}
#nav:hover ~ #cursor,
a.info:hover ~ #cursor,
#cursor.hidden{
  display:none;
}

@keyframes blink{
    0%{
      opacity:0
    }
    50%{opacity:1}
    100%{opacity:0}
}

/* SVGS */

#svgContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* cursor: none; */
}
#svgContainer > div {
    width: 100vw;
    height: 100vh;
    transition: 400ms;
    position: relative;
    /* order: 40; */
}

#svgContainer svg{
    position:fixed;
    top:0px;
    left:0px;
    pointer-events: none;
    transform: scale(1);
    transition: 200ms;
}

#svgContainer .svgWrapper.hover svg{
    filter: drop-shadow( 1px 3px 2px rgba(0, 0, 0, .3));
    transform: scale(1.015);
}
#svgContainer .svgWrapper.hover{
    /* filter: drop-shadow( 1px 3px 2px rgba(0, 0, 0, .3)); */
    /* transform: scale(1.02); */
}


#svgContainer > div,
#svgContainer svg,
#svgContainer path{
  cursor: none;
}

#svgContainer path{
    stroke-width: 130px;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke: white;
    fill: none;
    pointer-events: all;
  }
  #svgContainer .shadow path{
    stroke: #8C8C8C;
  }
  #svgContainer .shadow {
    mix-blend-mode: hard-light;
  }
  #svgContainer image{
    width:100vw;
    height: 100vh;
    position:relative;
  }
  #svgContainer.fullImages rect{
    mask: none !important;
  }
  #svgContainer.fullImages .shadow{
    /* mask: none !important; */
    display:none;
  }

/* hide this svg, just save its defs */
svg.defs,
#svgContainer .defs,
.grid #svgContainer .defs {
  position: fixed;
  opacity:0;
  pointer-events: none;
  top: -1000px;
  left: -1000px;
}


/* GRID PROJECT STYLES */

.grid #svgContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--navHeight);
    height: auto;
    width: auto;
    position: absolute;
}

.grid #svgContainer > div{
    width: 33.3333vw;
    height: calc(33.334vh - 1px);
    /* border-bottom:1px solid var(--mainColor); */
    overflow:hidden;
}

#svgContainer path,
#svgContainer image{
  transform: scale(1);
  transition: 400ms;
}

#svgContainer image{
  width:100vw;
  height: 100vh;
  position:relative;
}

.grid #svgContainer svg{
    width: 33.3333vw;
    height: calc(33.334vh - 1px);
    position:static;
}

.grid #svgContainer image{
    width:33.333vw;
    height:33.333vh;
}

.grid #svgContainer path{
    transform: scale(0.3);
}





/* HOMEPAGE PROJECT LIST */
#projectLinks{
    color:red;
    z-index:3;
    display:inline-flex;
    flex-direction: column;
    position:fixed;
    bottom:0px;
    transform: translateY(100%);
    margin-bottom: -1.5px;
    transition: bottom 200ms;
}

#projectLinks.visible{
    bottom: var(--navHeight);
}

#projectLinks li{
    margin-top:-1px;
    /* transform:translateY(100%); */
    transition: var(--transition);
    /* position:fixed; */
    /* bottom:-1.5px; */
}

#projectLinks a{
    display:inline-block;
    border-color: var(--red);
    text-transform: uppercase;
    background:var(--bg);
}
#projectLinks li{
    transform:translateY(0%);
    order:1000;
}
#projectLinks li svg {
    height: 0.7em;
    display: inline-block;
    position: relative;
    left: 0px;
    top: -0.07em;
    margin-left:-1.7em;
    opacity:0;
    transition: 200ms;
}

#projectLinks li:hover svg,
#projectLinks li.most-recent svg {
    margin-left:0;
    opacity:1;
}

.grid #projectLinks{
    bottom: 0px !important;
}

/* HOMEPAGE LINES */
.lines > div{
    transition: var(--transition);
}
.lines .horizontal{
    width: 100vw;
    height: 1px;
    background: var(--mainColor);
    position:fixed;
    bottom: -2px;
    left: 0px;
}
.lines .vertical{
    height: 100vh;
    width: 1px;
    background: var(--mainColor);
    position:fixed;
    right: -2px;
    top: 0px;
}
.grid .lines #line-v1{right: 66.667%}
.grid .lines #line-v2{right: 33.334%}
.grid .lines #line-h1{bottom: calc(66.667vh - var(--navHeight))}
.grid .lines #line-h2{bottom: calc(33.334vh - var(--navHeight))}