@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Dedale';
    font-weight: 600;
    src: url('(site)/fonts/DedaleTrial-Bold.otf');
}
@font-face{
    font-family: 'Dedale';
    font-weight: 400;
    src: url('(site)/fonts/DedaleTrial-Regular.otf');
}
@font-face{
    font-family: 'Dedale';
    font-weight: 300;
    src: url('(site)/fonts/DedaleTrial-Light.otf');
}

:root{
    --main-color: red;
    --primary-type: 'Dedale';
    --pad: 0.7rem;
    --transition: 600ms linear;
    --nav-height: 32px;
    --bg: #F8F8F8;
    --logo-width: 141.906px;
    --projects-width: 89.414px;
    --profile-width: 73.602px;
}

html{
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
    font-family: var(--primary-type);
}

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }



body{
    background: var(--bg);
}

p{
    line-height: 1.4;
}

#nav{
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
    animation: loadNav 800ms linear;
    overflow:hidden;
    position: sticky;
    position:fixed;
    top:0;
    width: 100%;
    background: var(--bg);
    /* opacity: 0.9; */
    transition:background 300ms, border 300ms;
}

#nav li, #nav button{
    animation: loadNavItems 1s 1s linear both;
    white-space: nowrap;
    text-transform:uppercase;
    letter-spacing:-0.02em;
    position: relative;
    transition: padding-right 200ms;
    line-height: 1;
    /* background:yellow; */
    border-right:1px solid var(--main-color);
}

/* INCLUDE FOR RIGHT BAR NEXT TO NAV ITEMS */
/* #nav li:after{
    content: '';
    display: block;
    position: absolute;
    right: -0.8rem;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid var(--main-color);
    height: 2.5rem;
    height:var(--nav-height);
} */

#nav li:first-child,
.grid #nav li:nth-child(2){
    /* --letter-spacing: calc((100vw - 197px)/14.51); */
    /* animation-delay: 0.2s; */
    /* letter-spacing: var(--letter-spacing); */
    animation: extendLogo 700ms 1.5s ease-in-out both;
    /* width: calc(100vw - 196.953px); */
}


.grid #nav li:first-child{
    width: auto;
}
#nav li:first-child a{
    /* margin-right: calc(var(--letter-spacing)*-1 + 1px); */
    display: flex;
    justify-content: space-between;
}
#nav li:first-child a span{
    
    white-space: pre;


}
#nav li:nth-child(2){
    animation-delay: 0.4s;
}
#nav li:nth-child(3){
    animation-delay: 0.6s;
}
@media (pointer:fine) {
    #nav li:hover{
        padding-right: 30px;
    }
}

#nav li:first-child:hover{
    padding-right: 50px;
}

#nav .nav-icon{
    position: absolute;
    opacity: 0;
    transition: 300ms;
    pointer-events: none;
    right: 0px;
    top:0px;
}
#nav #icon-draw{
    
    right: 0px;
    width: 39px;
    top: 50%;
    transform: translateY(-50%) translateX(0rem);
    padding-left: 10px;
}

.icon-info{
    border-radius: 50%;
    border: 1px solid var(--main-color);
}

#nav li a, #nav li button{
    display: block;
}


#nav #icon-grid{
    height: calc(2px + var(--nav-height));
    width: 0px;
    display: block;
    border: 1px solid var(--main-color);
    border-bottom: 0px;
    position: absolute;
    right: -1px;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    transition: width 200ms;
}

#nav #icon-grid:before {
    content: '';
    width: calc(50% + 2px);
    height: 100%;
    border: 1px solid var(--main-color);
    border-bottom: 0px;
    left: 50%;
    transform:translateX(-50%);
    position: absolute;
    top: 0px;
}

#nav #icon-grid:after {
    content: '';
    height: calc(50% + 1px);
    width: calc(100% + 2px);
    border: 1px solid var(--main-color);
    top: calc(50% - 0px);
    position: absolute;
    left: -1px;
    top: 50%;
    transform:translateY(-50%);
}

@media (pointer:fine) {
    :not(.draw) #nav li:hover .nav-icon{
        pointer-events: inherit;
        opacity: 1;
    }
    :not(.draw) #nav li:hover #icon-draw{
        /* transform: translateY(-50%) translateX(0rem) */
        right: 10px;
    }
    :not(.draw) #nav li:hover #icon-grid{
        width: calc(2px + var(--nav-height));
    }
}

@keyframes loadNav{
    0%{ width:0px; }
    100%{ width: 100%; }
}

@keyframes loadNavItems{
    0%{ opacity:0;}
    100%{ opacity:1;}
}

@keyframes extendLogo{
    0%{ width: calc(var(--logo-width) + 1rem)}
    /* 100%{ width: var(--logo-width)} */
    100%{ width:calc(100vw - 196.953px);}
}

/* LANDING PAGE / DRAWING */


/* CURSOR */

#cursor {
    border-radius: 50%;
    border: 1px dotted #c6c6c6;
    mix-blend-mode: exclusion;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 100;
    transition: width 300ms, height 300ms, transform 300ms;
}

#cursor:before, #cursor:after {
    content: '';
    width: 14px;
    height: 1px;
    /* background: var(--main-color); */
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
#cursor:after {
    height: 14px;
    width: 1px;
}
.grid #cursor{
    /* transform: translate(30%,30%); */
    /* transform: translate(50%,-20%); */
    /* transition: transform 300ms; */
    --main-color:white;
    mix-blend-mode: exclusion;
}

.grid #drawInHere.drawing ~ #cursor{
    transform: translate(-50%,-50%);
}
body.drawing #projectLinks{
    pointer-events: none;
}
.grid #drawInHere.drawing * {
    cursor:none;
}
.grid #nav{
    /* position: fixed; */
    position:static;
}

.drawnSvg  * {
    transition: var(--transition);
}

#cursorPrompt {
    color: var(--main-color);
    color: #bcbcbc;
    position:absolute;
    bottom: 0px;
    /* bottom: 0px; */
    text-transform: uppercase;
    /* animation: blink 1300ms linear infinite both; */
    /* padding:0; */
    line-height:1;
    animation-delay: 800ms;
    /* opacity: 0; */

    transform:translateX(-50%) translateY(75px);
    font-size: 10px;
    width: 150px;
    margin: auto;
    text-align:center;
}

.page-projects #cursorPrompt{
    display:none;
}
.page-projects .lines .horizontal{
    display:none;
}
#nav:hover ~ #cursor,
a.info:hover ~ #cursor,
#cursor.hidden{
  display:none;
}

@keyframes blink{
    0%{
      opacity:0
    }
    50%{opacity:1}
    100%{opacity:0}
}

/* SVGS */

#drawInHere {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* cursor: none; */
}
body.drawing #drawInHere {
    z-index:99;
}
#drawInHere > div {
    width: 100vw;
    height: 100vh;
    /* transition: width var(--transition), height var(--transition), border-bottom 0s 1000ms; */
    position: relative;
    /* order: 40; */
}

.grid.transition-complete #drawInHere > div,
.grid.transition-complete #drawInHere .svgWrapper .drawnSvg,
.grid.transition-complete #drawInHere image{
    transition: 0s;
}


#drawInHere .drawnSvg{
    position:fixed;
    top:0px;
    left:0px;
    pointer-events: none;
    transform: scale(1);
    /* transition: var(--transition); */
    transition: filter var(--transition);
}
#drawInHere .svgWrapper.hover{
    z-index:1000 !important;

}

#drawInHere .svgWrapper.hover svg{
    filter: drop-shadow( 1px 3px 2px rgba(0, 0, 0, .3));
    /* transform: scale(1.015); */
    animation: zoomSvg 200ms linear both;
    
}

@keyframes zoomSvg{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.015)
    }
}

#drawInHere .svgWrapper.hover{
    /* filter: drop-shadow( 1px 3px 2px rgba(0, 0, 0, .3)); */
    /* transform: scale(1.02); */
}


#drawInHere > div,
#drawInHere .drawnSvg,
#drawInHere .drawnSvg path{
  cursor: none;
}

#drawInHere .drawnSvg path{
    stroke-width: 130px;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke: white;
    fill: none;
    pointer-events: all;
  }
#drawInHere .svgWrapper.hidden {
    opacity: 0;
}
.grid #drawInHere .svgWrapper.hidden {
    opacity: 1;
}
  /* #drawInHere .svgWrapper.hidden path{
    stroke-width: 150px !important;
  } */
  #drawInHere .shadow path{
    stroke: #8C8C8C;
  }
  body:not(.grid) #drawInHere .shadow {
    mix-blend-mode: hard-light;
  }
  #drawInHere image{
    width:100vw;
    height: 100vh;
    position:relative;
  }
  #drawInHere.fullImages rect{
    mask: none !important;
  }
  #drawInHere.fullImages .shadow{
    /* mask: none !important; */
    display:none;
  }

/* hide this svg, just save its defs */
svg.defs,
#drawInHere .defs,
.grid #drawInHere .defs {
  position: fixed;
  opacity:0;
  pointer-events: none;
  top: -1000px;
  left: -1000px;
}

body.page-is-changing #drawInHere .svgWrapper.page-transition-main-stroke{
    z-index:100;
}
body.page-is-changing #drawInHere .svgWrapper.page-transition-main-stroke path{
        stroke-width: 130vw !important;
}

body.page-is-changing #drawInHere .svgWrapper:not(.page-transition-main-stroke) path{
    stroke-width: 0px !important;
}
body.page-is-changing #drawInHere .svgWrapper:not(.page-transition-main-stroke) svg{
    /* opacity:0; */
}

body.page-is-changing #projectLinks li{
    /* transform: translateY(-100%); */
    animation: minimizeLinks var(--transition) linear both;
}

body.page-is-changing #projectLinks{
    top: calc(var(--nav-height)) !important;
    transition-delay:500ms;
}

body.page-is-changing .hero{
    height: 100vh;
}

/* GRID PROJECT STYLES */

.grid #drawInHere{
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--nav-height);
    height: auto;
    width: auto;
    position: absolute;
}

/* .grid {
    --main-color: ;
} */

.grid #drawInHere > div, 
.grid #drawInHere svg, 
.grid #drawInHere path{
    cursor: pointer;
}

.grid #drawInHere > div{
    /* width: 33.3333vw; */
    width: 50vw;
    /* height: calc(33.334vh - 1px); */
    /* height: 33.334vh; */
    height: 50vh;
    border-bottom:1px solid var(--main-color);
    overflow:hidden;
    /* transition: border-bottom 0s 1000ms; */
}


#drawInHere path,
#drawInHere image{
  transform: scale(1);
}

#drawInHere path{
    transition: var(--transition);
}
#projectLinks:hover ~ #drawInHere .svgWrapper .drawnSvg{
    /* transition: 200ms; */
}
.grid #drawInHere .svgWrapper:hover path{
    transition: 200ms;
}

.grid #projectLinks{
    display:none;
}
#drawInHere image{
  width:100vw;
  height: 100vh;
  position:relative;
  transition: var(--transition);
}

.grid #drawInHere .drawnSvg{
    width: 50vw;
    height: calc(50vh - 1px);
    /* position:absolute; */
    position:static;
}

.grid #drawInHere image{
    width:50vw;
    height:50vh;
}

.grid #drawInHere .drawnSvg path{
    transform: scale(0.5);
}

.extra-div{
    display:none;
}

.extra-div{
    /* background:blue; */
}

.extra-div{
    cursor:none;
    width: 300px; /* Adjust to your desired width */
    height: 300px; /* Adjust to your desired height */
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 10px,
        #cccccc 10px, /* Line color */
        #cccccc 11px  /* Line thickness */
    );
    cursor:default; 
    opacity: 0;
    transition: opacity var(--transition);
}
.extra-div:nth-child(odd){
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #cccccc 10px, /* Line color */
        #cccccc 11px  /* Line thickness */
    );
}
.extra-div svg{
    mix-blend-mode: hard-light;
}

#drawInHere .extra-div .drawnSvg  path{
    stroke: #555555;
}

.grid .extra-div{
    display:block;
    opacity: 1;
}

.thumbnail-link{
    position:absolute;
    bottom:0px;
    left:0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin: 0 0px -1px -1px;
    line-height: 1;
    transform: translateY(100%);
    transition: transform 300ms 0ms, padding 300ms;
    /* transition-delay: transform 600ms; */
    background: var(--bg);
    text-transform: uppercase;
}

.thumbnail-link span{
    font-size: 10px;
    transform:translateY(-40%);
    display: inline-block;
    margin-left: 5px;
}

.thumbnail-link h3{
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 0.5em;
}

.grid .thumbnail-link{
    transition: transform 300ms 1200ms, padding 300ms;
}

.grid.transition-to-project .thumbnail-link{
    transition: transform 300ms 0ms, padding 300ms;
    transform: translateY(100%);
}

.grid.transition-to-project .svgWrapper{
    transition: opacity 300ms;
    opacity: 0 !important;
}

/* @keyframes fadeInThumbnailLinks {
    0%{
        transform: translateY(100%);
    }
    100%{

    }
} */

.thumbnail-link svg{
    display: inline;
    height: 0.7em;
    position: absolute;
    right: 0px;
    top: 50%;
    transform:translateY(-50%);
    opacity: 0;
    transition: opacity 300ms;
    transition-delay: 100ms;
    /* pointer-events: none; */
}

.grid .thumbnail-link{
    transform: translateY(0%);
}

.grid .svgWrapper{
    mix-blend-mode:multiply
}
.grid > div{
    z-index: 0;
}
.grid .svgWrapper + img{
    object-fit:cover;
    width: 100%;
    height:100%;
    object-position: center;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
} 
.grid .svgWrapper img.white{
    object-fit:contain;
    background:white;
} 

.grid #drawInHere .drawnSvg{
    mix-blend-mode:screen;
    z-index:2;
    position:relative;
}

.grid #drawInHere .drawnSvg.shadowSvg{
    mix-blend-mode:hard-light;
}

.grid #drawInHere .drawnSvg.patternSvg path{
    stroke: black;
}
.grid .svgWrapper{
    position:absolute;
    top:0px;
    left:0px;
}
.grid img{
    position:absolute;
    top:0;
    left:0;
    z-index:-2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid img.white{
    object-fit: contain;
    background: white;
}

.grid #drawInHere .drawnSvg.whiteSvg{
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
}

.grid #drawInHere > div{
    /* border-color: var(--bg); */
}

.grid .lines .vertical{
    /* background: var(--bg); */
}

.grid{
    --main-color: grey;
}

:root{
    /* --stripesFg: #929292; */
    --stripesFg: #929292;
    --stripesBg: var(--bg);
}

.style1{
    background: repeating-linear-gradient(
        -45deg,
        var(--stripesBg),
        var(--stripesBg) 10px,
        var(--stripesFg) 10px, /* Line color */
        var(--stripesFg) 11px  /* Line thickness */
    );
}
.style2{
    background: repeating-linear-gradient(
        45deg,
        var(--stripesBg),
        var(--stripesBg) 10px,
        var(--stripesFg) 10px, /* Line color */
        var(--stripesFg) 11px  /* Line thickness */
    );
}
.style3{
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 10px,
        var(--stripesFg) 10px, /* Line color */
        var(--stripesFg) 11px  /* Line thickness */
    );
}
.style4{
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px, /* Line color */
        var(--stripesFg) 31px  /* Line thickness */
    );
}
.style5{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px, /* Line color */
        var(--stripesFg) 31px  /* Line thickness */
    );
}
.style6{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 60px,
        var(--stripesFg) 60px, /* Line color */
        var(--stripesFg) 61px  /* Line thickness */
    );
}
.style7{
    background: repeating-linear-gradient(
        60deg,
        var(--stripesBg),
        var(--stripesBg) 60px,
        var(--stripesFg) 60px, /* Line color */
        var(--stripesFg) 61px  /* Line thickness */
    )
}
.style7:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    mix-blend-mode: darken;
    background: repeating-linear-gradient(
        -60deg,
        var(--stripesBg),
        var(--stripesBg) 60px,
        var(--stripesFg) 60px, 
        var(--stripesFg) 61px 
    );
}
.style8{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 90px,
        var(--stripesFg) 90px, /* Line color */
        var(--stripesFg) 91px  /* Line thickness */
    )
}
.style8:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    mix-blend-mode: darken;
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 90px,
        var(--stripesFg) 90px,  /* Line color */
        var(--stripesFg) 91px   /* Line thickness */
    );
}
.style9{
    background: repeating-linear-gradient(
        45deg,
        var(--stripesBg),
        var(--stripesBg) 40px,
        var(--stripesFg) 40px, /* Line color */
        var(--stripesFg) 41px  /* Line thickness */
    );
}

.style10{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px, /* Line color */
        var(--stripesFg) 31px  /* Line thickness */
    )
}
.style10:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    mix-blend-mode: darken;
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px,  /* Line color */
        var(--stripesFg) 31px   /* Line thickness */
    );
}

.stripey-style{
    width: 100%;
    height: 100%;

    position:absolute;
    top:0;
    left:0;
    z-index:0;
    /* mix-blend-mode:multiply; */
    /* background: repeating-linear-gradient(45deg, black, black 10px, white 10px, white 20px); width:100%; height:100%; */
    /* clip-path: url(#mask0); */
    /* You may need vendor prefixes for cross-browser compatibility */
    /* -webkit-clip-path: url(#mask0);
    -moz-clip-path: url(#mask0); */
}

.grid .project-title{
    position:absolute;
    top:0px;
    left:0px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid h2, .grid h3{
    z-index:3;
    border: 1px solid var(--main-color);
    /* border-top:0px; */
    border-left:0px;
    color: var(--main-color);
    background: var(--bg);
    padding: 0.2em 0.5rem;
    margin-top:-1px;
    position:relative;
    color: #232323;
}

.grid h2{
    transition: padding 300ms;
}
.grid h3{
    font-size: 11px;
    display:none;
}

.grid h2 svg{
    display: inline-block;
    width: 12px;
    margin-left: 10px;
    transform:translateY(-2px) translateX(-5px);
    margin-bottom:-3px;
    position:absolute;
    transition: transform 300ms, opacity 200ms;
    opacity: 0;
}
.grid h2 svg path{

    fill: #232323;
}

.grid #drawInHere > div:hover h2{
    padding-right: 34px;
}

.grid #drawInHere > div:hover h2 svg{
    transform: translateY(-2px) translateX(0px);
    opacity: 1;
}

/* .grid .svgWrapper{
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
.grid .svgWrapper.white{
    background-size:cover;
} */
/* 
.grid .svgWrapper:hover .thumbnail-link{
    padding-right: 28px;
}

.grid .svgWrapper:hover .thumbnail-link svg{
    opacity: 1;
}

.grid .svgWrapper.complete:not(.drawing-in-here):hover .drawnSvg path{
    stroke-width: 130vw !important;
}


.grid .svgWrapper:not(.complete, .drawing-in-here) .drawnSvg rect{
    mask: none;
}

.grid .svgWrapper:not(.complete) .drawnSvg{
    animation: fadeInProjects 500ms 1000ms linear both;
} */

@keyframes fadeInProjects{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

/* .grid .svgWrapper:not(.drawing-in-here):hover .drawnSvg .shadow {
    filter: none;
} */



/* HOMEPAGE PROJECT LIST */
#projectLinks{
    color:var(--main-color);
    z-index:3;
    display:inline-flex;
    flex-direction: column;
    position:fixed;
    top:calc(var(--nav-height));
    /* transform: translateY(-100%); */
    /* margin-top: -1.5px; */
    transition: right 200ms;
    right: 0px;
    height: calc(100vh - var(--nav-height));
    /* opacity:0; */
    width: 198px;
    border-left: 1px solid #c6c6c6;
    /* background: var(--bg); */
}

#projectLinks.visible{
    /* top: var(--nav-height); */
}

#projectLinks li{
    margin-top:-1px;
    /* transform:translateY(100%); */
    transition: transform var(--transition);
    line-height: 1;
    /* opacity: 0; */
    border-bottom: 1px dotted #C6C6C6;
    /* transform:translateY(-50%); */
    /* position:fixed; */
    /* bottom:-1.5px; */
}

#projectLinks li.visible{
    opacity: 1;
    border: 1px solid red;
    margin-left:-1px;
    background: var(--bg);
}

@keyframes minimizeLinks{
    0%{
        /* opacity:1; */
        transform: translateY(0%);
    }
    80%{
        /* opacity:1; */
        transform: translateY(-300%);
    }
    100%{
        /* opacity:0; */
        transform: translateY(-300%);
    }
}

#projectLinks a{
    display:inline-block;
    border-color: var(--main-color);
    text-transform: uppercase;
    background:var(--bg);
    letter-spacing: -0.02em;
    border-top: 0;
    border-bottom: 0;
    border: 0;
    background: transparent;
    width: 500px;
}
#projectLinks li.visible a:hover,
#projectLinks li.most-recent a{
    width: 100%;
}
#projectLinks li{
    transform:translateY(0%);
    order:1000;
}
#projectLinks li svg {
    height: 0.7em;
    display: inline-block;
    position: relative;
    left: 0px;
    top: -0.07em;
    margin-left:-1.7em;
    opacity:0;
    transition: 200ms;
}

#projectLinks li a:hover svg,
#projectLinks li.most-recent svg {
    /* margin-left:-0.5em; */
    /* opacity:1; */
    display:none;
}

#projectLinks li a:before{
    content: '';
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background: transparent;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--bg) 90%);
}

#projectLinks li:hover a:before{
    display:none;
}

#projectLinks:hover li.most-recent:not(:hover) svg {
    opacity:0;
    margin-left:-1.7em;
}

#projectLinks li:not(.visible) a{
    opacity: 0;
}
#projectLinks li a{
    transition: opacity 400ms;
}
#projectLinks:hover li a{
    /* opacity: 1; */
}

.grid #projectLinks{
    bottom: 0px !important;
}

/* HOMEPAGE LINES */
.lines > div{
    transition: bottom var(--transition), right var(--transition), opacity 0s 1000ms;
}
.lines .horizontal{
    width: 100vw;
    height: 1px;
    background: var(--main-color);   
    position:fixed;
    bottom: -2px;
    left: 0px;
    z-index:2;
}
.grid .lines .horizontal{
    opacity: 0;
    transition: opacity 0s 800ms;
}
.grid.transition-to-project .lines .horizontal{
    opacity: 1;
    display:block;
    transition: opacity 0s 0s, bottom var(--transition);
}
.lines .vertical{
    height: 100vh;
    width: 1px;
    background: var(--main-color);
    position:fixed;
    right: -2px;
    top: 0px;
    z-index:2;
    z-index: 10;
}
/* .grid .lines #line-v1{right: 66.667%}
.grid .lines #line-v2{right: 33.334%}
.grid .lines #line-h1{bottom: calc(66.667vh - var(--nav-height))}
.grid .lines #line-h2{bottom: calc(33.334vh - var(--nav-height))} */

.grid .lines .vertical{right: 50%}
.grid .lines .horizontal{bottom: calc(50vh - var(--nav-height))}


@media screen and (max-width: 420px){
    #nav{
        border: 0;
    }
    #nav ul.flex{
        display: block;
    }
    #nav li, #nav button{
        border-bottom: 1px solid red;
        border-right:0px;
    }
    #nav li:first-child{
        text-align: center;
        margin:auto;
    }
    #projectLinks{
        /* display: none; */
        width: 100%;
        border-left:0px;
        pointer-events: none;
    }
    #projectLinks li{
        border:0px;
    }
    #projectLinks li.most-recent svg{
        display:inline-block;
    }
    #projectLinks li.visible{
        border-right:0px;
        border-bottom:1px solid red;
    }
    #projectLinks li:not(.most-recent){
        display:none;
    }
    #nav li:first-child, .grid #nav li:nth-child(2){
        width: 100%;
    }
    #nav li:not(:first-child){
        display: none;
        transition:0s;
        animation: none;
    }
    #nav.open li:not(:first-child){
        display:block;
    }
    #nav.open li:first-child a{
        width: var(--logo-width);
        animation:none;
        text-align:left;
        margin:0px;
    }
    @keyframes extendLogo{
        0%{ width: calc(var(--logo-width) + 1rem)}
        /* 100%{ width: var(--logo-width)} */
        100%{ width:100%;}
    }
}