@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Dedale';
    font-weight: 600;
    src: url('../fonts/DedaleTrial-Bold.otf');
  }
  @font-face{
    font-family: 'Dedale';
    font-weight: 400;
    src: url('../fonts/DedaleTrial-Regular.otf');
  }
  @font-face{
    font-family: 'Dedale';
    font-weight: 300;
    src: url('../fonts/DedaleTrial-Light.otf');
  }
  
  :root{
    --main-color: red;
    --nav-height: 28px;
    --bg-color: #F8F8F8;
    --grey: #c6c6c6;
  
    --logo-width: 142.836px;
    --projects-width: 91.141px;
    --profile-width: 75.352px;
  
    --pad_x: 0.4em;
    --pad_y: 0.2em;

    --primary-type: "Dedale";
    --pad: 0.7rem;
    --transition: 600ms linear;

    --bg: var(--bg-color);
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
    font-family: 'Dedale', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.02em;
    background: var(--bg);
    transition: background 300ms;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body:-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
  display: none;
}


body {
  width: calc(100vw - (100vw - 100%));
  overflow-x:none;
}


/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


  body.path-other{
    --main-color: black;
    --bg: var(--bg-color);
  }
  body.path-other.scrolled{
    --bg: black;
    --main-color: white;
  }

  body.path-other .interactiveLogo{
    margin-top:0px !important;
  }

  body.path-other main{
    margin-top:var(--nav-height);
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    /* color: #0070f3; */
    text-decoration: none;
  }
  
  /* a:hover {
    text-decoration: none;
  } */
  
  img {
    max-width: 100%;
    display: block;
  }
  
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
  

  /* HOMEPAGE DRAWING */

.drawInHere{
  cursor:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:0;
}

/* body.drawing #drawInHere {
  z-index:99;
} */

/* Hover over svgs */
#drawInHere .svgWrapper.hover svg{
  filter: drop-shadow( 1px 3px 2px rgba(0, 0, 0, .3));
  animation: zoomSvg 200ms linear both;
}

@keyframes zoomSvg{
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.015)
  }
}


/* Styles */
#drawInHere .drawnSvg path{
  stroke-width: 130px;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke: white;
  fill: none;
  pointer-events: all;
}

#drawInHere>.svgWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
}

#drawInHere:active{
  z-index:2;
}

/* #drawInHere .svgWrapper.hidden {
  opacity: 0;
}
.grid #drawInHere .svgWrapper.hidden {
  opacity: 1;
} */

#drawInHere .shadow path{
  stroke: #8C8C8C;
}

/* body:not(.grid) #drawInHere .shadow {
  mix-blend-mode: hard-light;
} */
#drawInHere .shadow {
  mix-blend-mode: hard-light;
}
#drawInHere image{
  width:100vw;
  height: 100vh;
  position:relative;
}
#drawInHere.fullImages rect{
mask: none !important;
}
#drawInHere.fullImages .shadow{
  display:none;
}

/* hide this svg, just save its defs */
svg.defs,
#drawInHere .defs,
.grid #drawInHere .defs {
position: fixed;
opacity:0;
pointer-events: none;
top: -1000px;
left: -1000px;
}


/* HOMEPAGE GLOBAL STYLES */

.home--visible{
  opacity: 1;
  pointer-events:inherit;
  margin-left: 1px;
}

li.home--visible:hover, li.home--mostRecent{
  width: calc(100% - 1px);
  overflow: visible !important;
  /* background: var(--bg); */
}

.home--visible a, .home--mostRecent a{

  opacity: 1;
  pointer-events:inherit !important;
  user-select: none;
  /* background: var(--bg); */
}

.home--mostRecent a, .home--visible:hover a{
  width: calc(100% - 1px);
  /* background: var(--bg); */
}

.home--visible{
  /* width:calc(100% - 2px); */
  /* transform:translateX(1px); */
  /* background: var(--bg); */
  border-bottom: 1px dotted var(--grey) !important;
  /* border-left: 1px solid var(--grey) !important; */
  color: grey;
}

#projectLinks:hover .home--mostRecent:not(:hover) svg{
  /* display:none !important; */
}

.home--mostRecent a svg,
.home--visible:hover a svg{
  display:inline-block !important;
}





/* HOMEPAGE */

h1{
  font-size: 200px;
  user-select: none;
}

.canvas-container{
  position:absolute;
  top:-1px;
  left:-1px;
  transition: width 500ms, height 500ms, left 500ms, top 500ms, transform 400ms;
  /* border-left:1px solid black; */
  /* border-bottom:1px solid black; */
  /* border: 1px solid black; */
}


.p5Canvas{
  transition: 500ms;
  cursor: none;
}
.canvases{
  position: relative;
}
body.mousedown .canvases{
    z-index: 99;
}
@media screen and (pointer:coarse){
  body.mousedown main{
    position: fixed;
  }
  html, body.mousedown {
    /* overflow: hidden; */
    overscroll-behavior: none;
  }
}
body.mousedown nav{
  pointer-events: none;
  user-select: none;
}
body.mousedown .home--projectLinks{
  z-index:2;
}
body.mousedown .list-container{
  z-index:2;
}

/* #btn{
  position:fixed;
  top:10px;
  left:10px;
  background: red;
  z-index:100;
  cursor:pointer;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

#btn:hover{
  background: blue;
} */

body{
  user-select: none;
}

.canvases.path-projects .canvas-container,
.canvases.gridded .canvas-container{
  width: 50%;
  height: 50dvh;
  background-size:cover;
  background-position:center;
}

.canvases .p5Canvas{
  z-index:1;
  position:relative;
  
}

.canvases.gridded{
  display:flex;
  flex-wrap:wrap;
}

.canvases.gridded .p5Canvas{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.canvases.gridded .canvas-container{
  width: 50vw;
  height: 50vh;
  background-size:cover;
  background-position:center;
  position: relative;
  border-bottom:1px solid var(--main-color);
  overflow: hidden;
}

@media screen and (max-width: 450px){
  .canvases.path-projects .canvas-container,
  .canvases.gridded .canvas-container{
    width: 100vw;
  }
}


.canvases.gridded .canvas-container img{
  display: block;
  opacity: 1;
  position: relative;
  animation: canvasImage 600ms 200ms linear both;
  width: 50vw;
  height: 50vh;
}

@media screen and (max-width: 450px){
  .canvases.gridded .canvas-container img{
    width: 100vw;
  }
}

@keyframes canvasImage{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}


.canvases.gridded img.white{
  object-fit: contain;
  background-color: white;;
}

.canvases.gridded .projectInfo{
  position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.canvases.gridded .projectInfo > div{
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  background: var(--bg);
  padding:var(--pad_y) var(--pad_x);
  width: auto;
  animation: projectName 300ms 1s ease-out both;
}

.canvases.gridded .projectInfo .projectName{
  z-index:1;
}
.canvases.gridded .projectInfo .projectName svg{
  display: inline-block;
  margin-left: -0.7em;
  pointer-events:none;
  opacity:0;
  transform:translateY(-0.1em);
  transition: opacity 100ms, margin-left 100ms;
}
.canvases.gridded .canvas-container:hover svg{
  margin-left: 0.3em;
  opacity:1;
}
.canvases.gridded .projectInfo .projectName svg path{
  fill: var(--main-color);
}
.canvases.gridded .projectInfo .projectLocation{
  animation-delay: 800ms;
  z-index:0;
}

.canvas-container img{
  opacity:0;
  pointer-events: none;
  display: none;
  transition: opacity 500ms;
  transition-delay:400ms;
  object-fit: cover;
  object-position: center;
  /* width: calc(100% - 1px);
  height: calc(100% - 1px); */
  width: 100%;
  height:100%;
  top:0px;
  z-index:0;
  position: absolute;
}

.verticalLine{
  position:fixed;
  /* top:0; */
  left:calc(50% - 1px);
  /* transform:translateX(-50%); */
  width:1px;
  background: var(--main-color);
  height:0px;
  top:var(--nav-height);
  z-index:2;
  transition: height 400ms;
}

@media screen and (max-width: 450px){
  .verticalLine{
    opacity: 0;
  }
}


.path-projects .verticalLine{
  height: calc(100% - var(--nav-height));
}

.path-projects nav{
  z-index:100;
}

a{
  -webkit-user-drag: none;
}

@keyframes verticalLine{
  0%{
    height:0px;
  }
  100%{
    height:calc(100vh - var(--nav-height));
  }
}

/* .canvas-container img:nth-child(odd){
  border-right:1px solid var(--main-color);
} */

@keyframes projectName{
  0%{
    opacity:0;
    transform:translateY(-100%)
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

.canvases.path-projects .canvas-container img,
.canvases.gridded .canvas-container img{
  display: block;
}

.list-container:hover + #cursor{
  display: none !important;
}

@media screen and (max-width: 450px){

  .path-projects #cursor{
      display:none !important;
  }

}

.list-container{
    position: absolute;
    right: 0px;
    z-index:99;
    top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    width: calc(var(--profile-width) + var(--projects-width) + calc(var(--pad_x)*4) + 2px);
    overflow-y:scroll;
    mix-blend-mode:multiply;
    transition: background 300ms;

}
.list-container:hover{
  background:var(--bg);
  mix-blend-mode:inherit;
}
.list-container path{
  fill: grey;
  transition: fill 300ms;
}
.list-container:hover * {
  color: var(--main-color) !important;
  transition: color 300ms;
  fill: var(--main-color);
}
.list-container li:last-child{
  background:black;
}
.list-container:hover{
  /* background: var(--bg); */
}

body.path- .list-container{
  animation: moveIn 300ms 1s ease-out both;
}

@media screen and (max-width: 450px){
  body.path- .list-container{
      animation:none;
      /* transform:translateX(100%); */
      /* display: none; */
      width: 100%;
      top:0;
      height:calc(var(--nav-height)*2 + 1px);
      z-index: 1;
  }
  .home--visible{
    border-bottom: 1px solid var(--main-color) !important;
  }
  li.home--mostRecent{
    z-index:0;
    animation: dropIn 300ms linear both;
  }
  .home--mostRecent a svg{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes dropIn{
  0%{
    transform:translateY(-100%);
  }
  100%{
    transform:translateY(0%);
  }
}

body.transition-home-projects .verticalLine,
body.transition-profile-projects .verticalLine{
  animation: verticalLine 600ms linear both;
}

body.transition-home-projects .list-container,
body.transition-home-profile .list-container{
  animation: moveIn 300ms ease-out reverse both;
}

body.path-projects .verticalLine{
  animation: verticalLine 600ms linear both;
}

@keyframes moveIn{
  0%{
    transform:translateX(100%);
  }
  100%{
    transform:translateX(0%);
  }
}

.list-container a{
  pointer-events:none;
}


  .list-container a:before{
    content: '';
    width: 50px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    right: 0px;
    top: 0px;
    background: transparent;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--bg) 90%);
  }

  .list-container a:hover:before,
  .list-container a.home--mostRecent:before {
    display: none;
  }
  
.path-projects .list-container{
  transform:translateX(100%);
  /* transform:translateX(100%); */
  /* display:none; */
}


  /* NAVBAR INITIAL LOAD */

/* .initial-load nav:after {
  animation: lineExpand 800ms ease-in-out both;
}

.initial-load nav li {
  animation: navItemAppear 500ms linear both;
}

.initial-load nav li .link{
  transition-delay: 1s;
}

@keyframes lineExpand{
  0%{ width: 0px;}
  100%{ width: 100vw;}
}
@keyframes navItemAppear{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
} */


body.path- .list-container ul,
body:not(.gridded) .list-container ul{
  transform: translateX(0%);
  transition-delay: 800ms;
}



body.path-projects,
body.gridded {
  /* --main-color: grey; */
  --main-color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body.path-projects::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body.path-projects {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body.path-projects nav{
  position:sticky;
}

body.path-projects .canvas-container{
    /* border-left:1px solid black; */
    /* border-bottom:1px solid black; */
    /* position:static; */
}
body.path-projects .canvas-container:nth-child(odd){
  /* border-left:1px solid black; */
  /* border-bottom:1px solid black; */
  /* position:static; */
}

/* Navbar active classes */

nav li {
  border-right: 1px solid var(--main-color);
  background: var(--bg);
}
nav.active-3{
  position:sticky;
  top:0;
}

nav.active-4 li{
  /* background: transparent; */
  transform:translateY(-1px);
}

nav.active-4 li:first-child{
  z-index:100;
}

nav.active-4:before{
  width: 100vw;
  height: var(--nav-height);
  display:block;
  background: var(--bg);
  content:'';
  z-index: -1;
  position: absolute;
}


/* Styles with animation for initial load */
.initial-load:after {
  animation: lineExpand 800ms ease-in-out both;
}

.initial-load li {
  animation: navItemAppear 500ms linear both;
}

.initial-load li a{
  transition-delay: 1s;
}


nav li:first-child button,
nav li:first-child a{
  width: calc(var(--logo-width) + var(--pad_x)*2);
}
nav li:nth-child(2) button,
nav li:nth-child(2) a{
  width: calc(var(--projects-width) + var(--pad_x)*2);
}
nav li:nth-child(3) button,
nav li:nth-child(3) a{
  width: calc(var(--profile-width) + var(--pad_x)*2);
}  

nav.active-4 li:first-child:hover button,
nav.active-4 li:first-child:hover a{
  width: calc(var(--logo-width) + var(--pad_x)*2 + var(--hoverGap));
}
nav.active-4 li:nth-child(2):hover button,
nav.active-4 li:nth-child(2):hover a{
  width: calc(var(--projects-width) + var(--pad_x)*2 + var(--hoverGap));
}
nav.active-4 li:nth-child(3):hover button,
nav.active-4 li:nth-child(3):hover a{
  width: calc(var(--profile-width) + var(--pad_x)*2 + var(--hoverGap));
}


nav li button, 
nav li a{
  transition: width 100ms ease-in-out;
}

nav{
  --hoverGap: 30px;
}


/* ************ */
/* ON DRAW PAGE */

 /* Loading */
body.loading nav.active-1 li:first-child button{
  animation: expandLogo 600ms 1s ease-in-out both;
}



 /* After Loaded */
nav.active-1 li:first-child button{
  transition: width 100ms linear;
  width: calc(100vw - var(--projects-width) - var(--profile-width) - var(--pad_x)*4 - 2px);
}

nav.active-1.hoveringOthers li:first-child button{
  width: calc(100vw - var(--projects-width) - var(--profile-width) - var(--pad_x)*4 - 2px - var(--hoverGap)) !important;
}

nav.active-2.hoveringOthers li:nth-child(2) button{
  width: calc(100vw - var(--logo-width) - var(--profile-width) - var(--pad_x)*4 - 2px - var(--hoverGap)) !important;
}

nav.active-3.hoveringOthers li:nth-child(3) button{
  width: calc(100vw - var(--logo-width) - var(--projects-width) - var(--pad_x)*4 - 2px - var(--hoverGap)) !important;
}



@media screen and (min-width: 450px){
  

    nav.active-1 li:nth-child(2):hover button,
    nav.active-3 li:nth-child(2):hover button{
      width: calc(var(--projects-width) + var(--hoverGap) + var(--pad_x)*2);
    }
    nav.active-1 li:nth-child(3):hover button,
    nav.active-2 li:nth-child(3):hover button{
      width: calc(var(--profile-width) + var(--hoverGap) + var(--pad_x)*2);
    }

    nav.active-2 li:first-child:hover a,
    nav.active-3 li:first-child:hover a{
      width: calc(var(--logo-width) + var(--hoverGap) + var(--pad_x)*2);
    }


    nav.active-1 li:nth-child(2):hover button > div,
    nav.active-1 li:nth-child(3):hover button > div{
      width: calc(100% - var(--hoverGap));
    }


}


@media screen and (max-width: 450px){

  nav.active-1 li:first-child,
  nav.active-2 li:nth-child(2),
  nav.active-3 li:nth-child(3){
      z-index:2;
  }
  nav.active-1 li:nth-child(2),
  nav.active-2 li:first-child{
      z-index:1;
  }
  nav.active-1 li:nth-child(3){
      z-index:0;
  }

  nav:not(.active-3) li:nth-child(3){
      border-bottom:1px solid var(--main-color);
  }

  .list-container{
    mix-blend-mode: inherit;
  }

  .home--visible{
    color: var(--main-color);
    /* transition: color 300ms; */
  }

}

/* **************** */
/* ON PROJECTS PAGE */

nav.active-2 li:nth-child(2) button{
  transition: width 100ms linear;
  width: calc(100vw - var(--logo-width) - var(--profile-width) - var(--pad_x)*4 - 2px);
}

body.transition-home-projects nav li:first-child button,
body.transition-home-profile nav li:first-child button{
  animation: expandLogo 6000ms ease-in-out reverse both;
}

body.transition-home-projects nav li:nth-child(2) button,
body.transition-profile-projects nav li:nth-child(2) button{
  animation: expandProjects 600ms ease-in-out both;
  /* width: calc(100vw - var(--logo-width) - var(--profile-width) - var(--pad_x)*4 - 2px) */
}


/* ON PROFILE PAGE */

nav.active-3 li:nth-child(3) button{
  transition: width 100ms linear;
  width: calc(100vw - var(--logo-width) - var(--projects-width) - var(--pad_x)*4 - 2px);
}

/* Transition home to profile */
body.transition-home-profile nav li:nth-child(3) button{
  animation: expandProfile 600ms ease-in-out both;
  /* width: calc(100vw - var(--logo-width) - var(--profile-width) - var(--pad_x)*4 - 2px) */
}

body.transition-profile-projects nav li:nth-child(3) button,
body.transition-profile-home nav li:nth-child(3) button{
  animation: expandProfile 600ms ease-in-out reverse both;
}


nav.active-2 li:first-child a{
  /* width: calc(100vw - var(--projects-width) - var(--profile-width) - var(--pad_x)*4 - 2px); */
  /* animation: expandLogo 600ms 100ms ease-in-out reverse both; */
  /* width: calc(100vw - var(--logo-width) - var(--profile-width) - var(--pad_x)*4 - 2px) */
}
nav li:nth-child(3) .active,
nav.active-3 li:nth-child(3) a{
  /* animation: expandProfile 600ms 1s ease-in-out both; */
  /* width: calc(100vw - var(--logo-width) - var(--projects-width) - var(--pad_x)*4 - 2px) */
}

body.loading .listItem:first-child button.active{
  width: var(--logo-width);
  animation: expandLogo 800ms 1s ease-in-out both;
}

@keyframes expandLogo{
  0%{ width: calc(var(--logo-width) + var(--pad_x)*2)}
  100%{ 
    width: calc(100vw - var(--projects-width) - var(--profile-width) - var(--pad_x)*4 - 2px);
  }
}

@keyframes expandProjects{
  /* 0%{ width: var(--projects-width);} */
  0%{ width: calc(var(--projects-width) + var(--pad_x)*2)}
  100%{
    width: calc(100vw - var(--logo-width) - var(--profile-width) - var(--pad_x)*4 - 2px)
  }
  /* 100%{ width: calc(100vw - var(--logo-width) - var(--profile-width) - var(--pad_x)*2 - 2px);} */
}
@keyframes expandProfile{
  0%{ width: var(--profile-width);}
  100%{ width: calc(100vw - var(--logo-width) - var(--projects-width) - var(--pad_x)*2 - 2px);}
}


@media screen and (max-width: 450px){
  nav.active-1 li:first-child button,
  nav.active-2 li:nth-child(2) button,
  nav.active-3 li:nth-child(3) button{
    width: 100%;
  }

  @keyframes expandLogo{
    0%{ width: calc(var(--logo-width) + var(--pad_x)*2)}
    100%{ 
      width: 100%;
    }
  }
  @keyframes expandProjects{
    0% { width: calc(var(--projects-width) + var(--pad_x)*2)}
    100% { width: 100%; }
  }
  @keyframes expandProfile{
    0%{ width: var(--profile-width); }
    100%{ width: 100%; }
  }
}

nav li:nth-child(2){
  animation-delay:200ms;
}

nav li:nth-child(3){
  animation-delay:400ms;
}


@keyframes lineExpand{
  0%{ width: 0px;}
  100%{ width: 100vw;}
}
@keyframes navItemAppear{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
.list-container::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
body,
.list-container {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;   /* Firefox */
}


nav:after {
  content: '';
  width: 100vw;
  border-bottom: 1px solid var(--main-color);
  position: absolute;
}

body.loading nav:after {
  animation: lineExpand 800ms ease-in-out both;
}

body.loading nav li{
    animation: navItemAppear 500ms linear both;
    position:relative;
}

@keyframes lineExpand{
  0%{ width: 0px;}
  100%{ width: 100vw;}
}

@keyframes navItemAppear{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
} 


.info--description{
  color: var(--main-color);
}