#logo{
    bottom:0px;
    --unit: calc(100dvw/49);
   
    margin-top: 100px;
    height:calc(100vh - var(--nav-height) + 1px);
}

#logo, .logoInner{
    display:flex;
    --height: calc(100dvw/49*4);
    /* position:absolute; */
    
    /* flex-wrap:wrap; */
    /* margin-top:50vh; */
    /* height:50vh; */
    
    /* margin-top: var(--nav-height); */
    align-items: flex-start;
    max-width:100dvw;
    position:relative;
    background: var(--bg);
}

.logoInner{
    --unit: calc(100dvw/30);
    --height: calc(100dvw/30*2);
    /* height:calc((100vh - var(--nav-height)) + 1px); */
    align-items: flex-end;
}
.logoInner:first-child{
    margin-top: 100px;
}
#logoContainerSm{
    /* display:flex;
    bottom:0px; */
    height: calc(100vh - var(--nav-height));
}


#logo > div,
#logo > a,
.logoInner > div,
.logoInner > a{
    width: calc(var(--unit)*4 - 1px);
    height:var(--height);
    border:1px solid var(--main-color);
    position: relative;
    border-right:0px;
    transition:width 300ms;
    /* border-bottom:0px; */
}

.logoInner > div,
.logoInner > a{
    width: calc(var(--unit)*8 - 1px);
    /* height:calc(var(--height)/2); */
    height:calc(var(--height));
    /* border-bottom: 0; */
    /* border-bottom:0px; */
}

.logoInner:first-child > div,
.logoInner:first-child > a{
    border-bottom: 0;
}

@media screen and (pointer: fine){
    #logo > div:hover,
    #logo > a:hover,
    .logoInner > div:hover,
    .logoInner > a:hover{
        width: 300px;
        /* border-right:1px solid red; */
    }
}

@media screen and (pointer: coarse){
    .logoInner > div > a{
        width:100%;
        height:100%;
        /* background:red; */
        background:transparent;
        position:absolute;
        top:0;
        left:0;
        display:none;
    }
    #logo > div.preview,
    #logo > a.preview,
    .logoInner > div.preview,
    .logoInner > a.preview{
        width: 300px;
        /* border-right:1px solid red; */
    }

    .logoInner > div.preview > a{
        display:block;
    }
}


#logo > div:first-child,
#logo > a:first-child,
.logoInner > div:first-child,
.logoInner > a:first-child{
    border-left:0px;
}
#logo .gap{
    width: var(--unit);
    border-top:0px;
    border-bottom:0px;
    z-index:-1;
}

#logo .end {
    border-right:1px solid var(--main-color);
}


#logo > div > div,
#logo > a > div,
.logoInner > div > div,
.logoInner > a > div{
    width: var(--unit);
    height: var(--unit);
    /* border: 1px dashed red; */
    border: 1px solid var(--main-color);
    position: absolute;
    background: var(--bg);
}
.a div:first-child{
    top: var(--unit);
    left: 50%;
    transform:translateX(-50%);
}
.a div:nth-child(2){
    left: 50%;
    transform:translateX(-50%);
}

.right{
    right:-1px;
    /* border-right-color: var(--bg); */
}

.left{
    left:-1px;
    /* border-left-color: var(--bg); */
}

.top{
    top:-1px;
    /* border-top-color: var(--bg); */
}

.bottom{
    bottom: -1px;
    /* border-bottom-color: var(--bg); */
}

.center{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.m div:first-child{
    left: calc(var(--unit)*0.5);
}

.m div:nth-child(2){
    right: calc(var(--unit)*0.5);
}

.s div:first-child{
    top: var(--unit);
}

.s div:nth-child(2){
    bottom: var(--unit);
}

.u div{
    left:50%;
    transform:translateX(-50%);
}

.d div:last-child{
    left:var(--unit);
    top: 50%;
    transform:translateY(-50%);
}

.i div{
    top: 50%;   
    transform:translateY(-50%);
}

.heroImage{
    opacity:0;
}

#logo > *:hover .heroImage,
.logoInner > *:hover .heroImage{
    opacity:1;
}