/* PROJECT PAGE */

.section{
    border-bottom: 1px solid var(--main-color);
    width:100vw;
    /* width: calc(100vw - var(--pad)*2); */
    /* width: calc(100vw - var(--nav-height)); */
    /* width: calc(100vw - var(--nav-height) * 2); */
    /* margin-left: var(--nav-height); */
    transition:background 300ms, border 300ms;
}
.hero{
    height: calc(100vh - 160px);
    /* width: 100vw; */
    transition: margin 300ms, height 300ms;
    margin-top: calc(var(--nav-height)*-1);
    animation: hero 600ms 1s ease-out both;
    
}

@keyframes hero{
    0%{
        height: calc(100vh - 40px);
    }
    100%{
        height: calc(100vh - 160px);
    }
} 

.hero img{
    /* object-position: top left; */
    object-position: center;
}

.info{
    padding: var(--pad);
    padding-top: 0.4em;
}

.section.info h1{
    /* font-size: 1.75rem; */
    font-size: 1.5rem;
    color: var(--main-color);
    letter-spacing: -0.02em;
    cursor: pointer;
    margin-bottom: 0.5rem;
}




.info--header {
    margin-bottom: 100px;
}

.info--description p {
    width: 100%;
    max-width: 720px;
    margin-bottom: 1em;
    transition: color 300ms;
}

.section.info .meta-data{
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    color: var(--main-color);
    > *{
        margin-right: 24px;
        margin-bottom: 12px;
    }
}

/* @media screen and max-width:  */

/* #before, #after{
    height: 100%;
    background: var(--bg);
    position: fixed;
    top:0px;
    width: var(--nav-height);
    z-index: 1;
}

#before{
    border-right: 1px solid var(--main-color);
    left:0px;
}
#after{
    border-left: 1px solid var(--main-color);
    right:0px;
    transition: transform 400ms;
}

#after{
    transform:translateX(100%);
} */

.projectInner{
    height: calc(100vh - var(--nav-height));
    overflow-y: scroll;
    /* margin-top: var(--nav-height); */
    /* --main-color:white; */
}

.projectInner{
    scroll-snap-type: y mandatory;
    height: calc(100vh - var(--nav-height));
    overflow-y: scroll;
    /* scroll-padding-top:var(--nav-height) */
}

.projectInner > *{
    scroll-snap-align: start;
}
.info{
    /* scroll-snap-align: none; */
    max-height: calc(100vh - var(--pad));
    overflow-y:scroll;
    animation: fadeIn 600ms linear both;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
} 

.projectInner::-webkit-scrollbar,
.info::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .projectInner, .info {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.spacer {
    flex: 0 0 auto;
    width: 1px; /* Very thin so it's essentially invisible */
    scroll-snap-align: start;
}


.image-container-inner{
    --stripesFg: #444444;
    --stripesBg: #000000;
    border-bottom:1px solid #555555;
    height:calc(100vh - var(--nav-height));
    width:100%;
    background:black;
}

.image-container-inner.style1{
    background: repeating-linear-gradient(
        -45deg,
        var(--stripesBg),
        var(--stripesBg) 10px,
        var(--stripesFg) 10px, /* Line color */
        var(--stripesFg) 11px  /* Line thickness */
    );
}
.image-container-inner.style2{
    background: repeating-linear-gradient(
        45deg,
        var(--stripesBg),
        var(--stripesBg) 10px,
        var(--stripesFg) 10px, /* Line color */
        var(--stripesFg) 11px  /* Line thickness */
    );
}
.image-container-inner.style3{
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 10px,
        var(--stripesFg) 10px, /* Line color */
        var(--stripesFg) 11px  /* Line thickness */
    );
}
.image-container-inner.style4{
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px, /* Line color */
        var(--stripesFg) 31px  /* Line thickness */
    );
}
.image-container-inner.style5{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px, /* Line color */
        var(--stripesFg) 31px  /* Line thickness */
    );
}
.image-container-inner.style6{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 60px,
        var(--stripesFg) 60px, /* Line color */
        var(--stripesFg) 61px  /* Line thickness */
    );
}
.image-container-inner.style7{
    background: repeating-linear-gradient(
        60deg,
        var(--stripesBg),
        var(--stripesBg) 60px,
        var(--stripesFg) 60px, /* Line color */
        var(--stripesFg) 61px  /* Line thickness */
    )
}
.image-container-inner.style7:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    mix-blend-mode: lighten;
    background: repeating-linear-gradient(
        -60deg,
        var(--stripesBg),
        var(--stripesBg) 60px,
        var(--stripesFg) 60px,  /* Line color */
        var(--stripesFg) 61px   /* Line thickness */
    );
}
.image-container-inner.style8{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 90px,
        var(--stripesFg) 90px, /* Line color */
        var(--stripesFg) 91px  /* Line thickness */
    )
}
.image-container-inner.style8:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    mix-blend-mode: lighten;
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 90px,
        var(--stripesFg) 90px,  /* Line color */
        var(--stripesFg) 91px   /* Line thickness */
    );
}
.image-container-inner.style9{
    background: repeating-linear-gradient(
        45deg,
        var(--stripesBg),
        var(--stripesBg) 40px,
        var(--stripesFg) 40px, /* Line color */
        var(--stripesFg) 41px  /* Line thickness */
    );
}

.image-container-inner.style10{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px, /* Line color */
        var(--stripesFg) 31px  /* Line thickness */
    )
}
.image-container-inner.style10:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    mix-blend-mode: lighten;
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 30px,
        var(--stripesFg) 30px,  /* Line color */
        var(--stripesFg) 31px   /* Line thickness */
    );
}
.image-container-inner.style11{
    background: repeating-linear-gradient(
        90deg,
        var(--stripesBg),
        var(--stripesBg) 120px,
        var(--stripesFg) 120px, /* Line color */
        var(--stripesFg) 121px  /* Line thickness */
    )
}
.image-container-inner.style11:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    mix-blend-mode: lighten;
    background: repeating-linear-gradient(
        0deg,
        var(--stripesBg),
        var(--stripesBg) 120px,
        var(--stripesFg) 120px,  /* Line color */
        var(--stripesFg) 121px   /* Line thickness */
    );
}

/* .image-container-inner-has-caption{
    height:calc(100vh - var(--nav-height) - var(--pad)*3 - 1rem);
} */


.caption{
    padding: var(--pad);
    /* padding-bottom:calc(var(--pad)*2); */
    background:black;
    color:white;
    /* border-bottom:1px solid #555555; */
    line-height: 1;
    position:absolute;
    bottom:-1px;
    left:-1px;
    transform:translateY(100%);
    transition: 300ms;
    border: 1px solid white;
    max-width: 720px
}

.image-container-outer:hover .caption{
    transform:translateY(0px);
}


/* .section.gallery  img{
    max-height:100%;
    object-fit: contain;
} */


body.inverted #nav{
    background:black;
    color:white;
    border-bottom-color:white;
}
body.inverted #nav li:after{
    border-right-color:white;
}
body.inverted .section{
    background:black;
    border-bottom-color: #555555;
}
body.inverted .info--description p{
    color:white;
}
body.inverted #nav #icon-grid,
body.inverted #nav #icon-grid:before,
body.inverted #nav #icon-grid:after{
    border-color:white;
}
/* body.inverted .info{
    background:black;
} */

/* .image-contain{
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    color: transparent;
    border-right: 1px solid var(--stripesFg);
    border-left: 1px solid var(--stripesFg);
} */
