/* ABOUT PAGE */

.cols {
    display: flex;
    flex-wrap:wrap;
}

.information {
    /* margin-top:var(--nav-height);
    position:absolute;
    top:0px; */
}
.information {
    margin-top: var(--nav-height);
}

.information .box {
    border: 1px solid red;
    font-family: var(--primary-type);
    font-weight: 400;
    padding: 0.5rem var(--pad);
    margin-top: -1px;
    margin-left: -1px;
}

.box.half{
    width: calc(50% + 1px);
}

.box.two-thirds{
    width: 66.6667%;
}

.box.one-third{
    width: 33.33334%;
}

.information strong {
    color: var(--main-color)
}

.information button:hover,
.information a:hover{
    color: var(--main-color);
}

/* #teamSection button strong{
    color: black;
    font-weight: 400;
} */


.icon {
    position: absolute;
    opacity: 0;
    transition: 300ms;
    pointer-events: none;
    right: 0px;
    top: 0px;
}

#teamSection button .icon {
    top: 50%;
    transform: translate(-50%, -50%);
}

#teamSection button{
    transition: padding 300ms;
    position: relative;
}

#teamSection button:hover{
    color: red;
    /* padding-right: 30px; */
}

.information .box.copiedNotification{
    color: red;
    /* display:none; */
    overflow:hidden;
    padding-left:0 !important;
    padding-right:0 !important;
    max-width: 0px;
    transition: padding 300ms, max-width 300ms !important;
    border-left:0px;
    /* opacity: 0; */
}

.information .copied + .copiedNotification{
    display:block;
    /* animation: shrink 2s linear both; */
    padding: 0.5rem var(--pad) !important;
    max-width: 200px;
    border-left:1px solid red;
    /* opacity: 1; */
}

#emails .flex .box:first-child{
    border-right:0px;
}


#teamSection button:hover .icon {
    pointer-events: inherit;
    opacity: 1;
}

.box.one-third.bio:last-child{
    border-right: 1px solid var(--main-color);
}

.bio{
    display:none;
}
.bio.visible{
    display:block;
}

@media screen and (max-width: 1050px){
    .box.one-third{
        width: calc(50% + 1px);
    }
    .box.one-third:last-child{
        border-right:transparent;
    }
    .box.one-third.bio:last-child{
        border-right: 1px solid var(--main-color);
    }
}

@media screen and (max-width: 880px){
    .box.half{
        width: calc(100% + 2px);
        border-right:transparent;
    }
}

@media screen and (max-width: 600px){
    .box.one-third{
        width: calc(100% + 1px);
        border-right:transparent;
    }
}